<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmgNV-6R27UoWg2DjVstLCFNnErzoCN0A</string>
	<key>GCM_SENDER_ID</key>
	<string>710654200487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ardBlueWeb</string>
	<key>PROJECT_ID</key>
	<string>ard-blue-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ard-blue-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710654200487:ios:ef2130f93d70f8b9f6e982</string>
</dict>
</plist>